/* Google Font Used: font-family: 'Exo 2', sans-serif;*/
body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background: rgb(240, 255, 243);
  background: linear-gradient(
    340deg,
    rgba(240, 255, 243, 1) 19%,
    rgba(198, 241, 231, 1) 100%
  );
}

.question-text {
  padding: 70px 0px;
  text-align: left;
  font-size: 25px;
  font-family: "Exo 2", sans-serif;
}

.btn {
  width: 80%;
  margin: 6px 0;
  padding: 10px 20px;
  text-align: left;
  font-size: large;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  border-radius: 15px 50px 30px;
  background-color: #11cbd7;
  border-color: #11cbd7;
  color: black;
  box-shadow: 0px 10px 14px -7px #276873;
}
.btn:hover {
  cursor: pointer;
  background-color: #069097;
  border-color: #069097;
}
.start-btn {
  text-align: center;
}
